.main {
  padding: 30px;
  background-color: black;
}

.loadcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
